soap-api/src/main/resources/api/v5/login-api.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://api.login.mdm.unidata.com/v5/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:uapi="http://api.mdm.unidata.com/v5/"
	xmlns:sec="http://security.mdm.unidata.com/v5/" xmlns:eh="http://error-handling.mdm.unidata.com/v5/"
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
	targetNamespace="http://api.login.mdm.unidata.com/v5/">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://security.mdm.unidata.com/v5/"
				schemaLocation="security/security.xsd" />
			<xsd:import namespace="http://error-handling.mdm.unidata.com/v5/"
				schemaLocation="eh/error-handling.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="loginRequestMessage">
		<wsdl:part name="loginRequest" element="sec:loginRequest" />
	</wsdl:message>
	<wsdl:message name="info">
		<wsdl:part name="info" element="sec:info" />
	</wsdl:message>
	<wsdl:message name="loginResponseMessage">
		<wsdl:part name="loginResponse" element="sec:loginResponse" />
	</wsdl:message>
	<wsdl:message name="logoutRequestMessage">
		<wsdl:part name="logoutRequest" element="sec:logoutRequest" />
	</wsdl:message>
	<wsdl:message name="logoutResponseMessage">
		<wsdl:part name="logoutResponse" element="sec:logoutResponse" />
	</wsdl:message>

	<wsdl:message name="ApiFault">
		<wsdl:part name="parameters" element="eh:ApiFault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LoginPortType">
		<wsdl:operation name="login">
			<wsdl:input name="loginRequest" message="tns:loginRequestMessage" />
			<wsdl:output name="loginResponse" message="tns:loginResponseMessage"></wsdl:output>
			<wsdl:fault name="fault" message="tns:ApiFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="logout">
			<wsdl:input name="logoutRequest" message="tns:logoutRequestMessage" />
			<wsdl:output name="logoutResponse" message="tns:logoutResponseMessage"></wsdl:output>
			<wsdl:fault name="fault" message="tns:ApiFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LoginServiceBinding" type="tns:LoginPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="login">
			<soap:operation soapAction="login" style="document" />
			<wsdl:input name="loginRequest">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" />
			</wsdl:input>
			<wsdl:output name="loginResponse">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="logout">
			<soap:operation soapAction="logout" style="document" />
			<wsdl:input name="logoutRequest">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" />
			</wsdl:input>
			<wsdl:output name="logoutResponse">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LoginSOAPService">
		<wsdl:port name="loginPort" binding="tns:LoginServiceBinding">
			<soap:address location="http://localhost:8080/unidata/login-api/v5" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>