soap-api/src/main/resources/api/v4/dq-unidata-api.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://api.dq.mdm.unidata.com/v4/" xmlns:dq="http://dq.mdm.unidata.com/v4/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:uapi="http://api.mdm.unidata.com/v4/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
	targetNamespace="http://api.dq.mdm.unidata.com/v4/">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://dq.mdm.unidata.com/v4/"
				schemaLocation="data-quality.xsd" />
		</xsd:schema>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://api.dq.mdm.unidata.com/v4/">
			<xsd:element name="dQFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="errorCode" type="xsd:string"
							minOccurs="1" maxOccurs="1" />
						<xsd:element name="errorMessage" type="xsd:string"
							minOccurs="1" maxOccurs="1" />

						<xsd:element name="stackTrace" type="xsd:string"
							minOccurs="0" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="loginRequestMessage">
		<wsdl:part name="loginRequest" element="dq:loginRequest" />
	</wsdl:message>
	<wsdl:message name="loginResponseMessage">
		<wsdl:part name="loginResponse" element="dq:loginResponse" />
	</wsdl:message>
	<wsdl:message name="logoutRequestMessage">
		<wsdl:part name="logoutRequest" element="dq:logoutRequest" />
	</wsdl:message>
	<wsdl:message name="logoutResponseMessage">
		<wsdl:part name="logoutResponse" element="dq:logoutResponse" />
	</wsdl:message>
	<wsdl:message name="applyDQRequestMessage">
		<wsdl:part name="applyDQRequest" element="dq:applyDQRequest" />
	</wsdl:message>
	<wsdl:message name="applyDQResponseMessage">
		<wsdl:part name="applyDQResponse" element="dq:applyDQResponse" />
	</wsdl:message>
	<wsdl:message name="getResultsRequestMessage">
		<wsdl:part name="getResultsRequest" element="dq:getResultsRequest" />
	</wsdl:message>
	<wsdl:message name="getResultsResponseMessage">
		<wsdl:part name="getResultsResponse" element="dq:getResultsResponse" />
	</wsdl:message>
	<wsdl:message name="dQFault">
		<wsdl:part name="parameters" element="tns:dQFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="security">
		<wsdl:part name="security" element="dq:securityHeader" />
	</wsdl:message>
	<wsdl:message name="info">
		<wsdl:part name="info" element="dq:infoHeader" />
	</wsdl:message>
	<wsdl:portType name="DataQualityPortType">
		<wsdl:operation name="login">
			<wsdl:input name="loginRequest" message="tns:loginRequestMessage" />
			<wsdl:output name="loginResponse" message="tns:loginResponseMessage"></wsdl:output>
			<wsdl:fault name="fault" message="tns:dQFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="logout">
			<wsdl:input name="logoutRequest" message="tns:logoutRequestMessage" />
			<wsdl:output name="logoutResponse" message="tns:logoutResponseMessage"></wsdl:output>
			<wsdl:fault name="fault" message="tns:dQFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="applyDQ">
			<wsdl:input name="applyDQRequest" message="tns:applyDQRequestMessage" />
			<wsdl:output name="applyDQResponse" message="tns:applyDQResponseMessage"></wsdl:output>
			<wsdl:fault name="fault" message="tns:dQFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getResults">
			<wsdl:input name="getResultsRequest" message="tns:getResultsRequestMessage" />
			<wsdl:output name="getResultsResponse" message="tns:getResultsResponseMessage"></wsdl:output>
			<wsdl:fault name="fault" message="tns:dQFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DataQualityServiceBinding" type="tns:DataQualityPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="login">
			<soap:operation soapAction="login" style="document" />
			<wsdl:input name="loginRequest">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" />
			</wsdl:input>
			<wsdl:output name="loginResponse">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="logout">
			<soap:operation soapAction="logout" style="document" />
			<wsdl:input name="logoutRequest">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" />
			</wsdl:input>
			<wsdl:output name="logoutResponse">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="applyDQ">
			<soap:operation soapAction="applyDQ" style="document" />
			<wsdl:input name="applyDQRequest">
				<soap:body use="literal" />
				<soap:header message="tns:security" part="security" />
				<soap:header message="tns:info" part="info" />
			</wsdl:input>
			<wsdl:output name="applyDQResponse">
				<soap:body use="literal" />
				<soap:header message="tns:security" part="security" />
				<soap:header message="tns:info" part="info" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getResults">
			<soap:operation soapAction="getResults" style="document" />
			<wsdl:input name="getResultsRequest">
				<soap:body use="literal" />
				<soap:header message="tns:security" part="security" />
				<soap:header message="tns:info" part="info" />
			</wsdl:input>
			<wsdl:output name="getResultsResponse">
				<soap:body use="literal" />
				<soap:header message="tns:security" part="security" />
				<soap:header message="tns:info" part="info" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DataQualitySOAPService">
		<wsdl:port name="applyDQ" binding="tns:DataQualityServiceBinding">
			<soap:address location="http://localhost:8080/unidata/dq-api/v4" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>