org.unidata.mdm.soap.core/src/main/resources/wsdl/schemas/eh/error-handling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://error-handling.mdm.unidata.org/v1/"
	targetNamespace="http://error-handling.mdm.unidata.org/v1/">
	<xsd:element name="ApiFault" type="tns:ApiFaultType" />
	<xsd:complexType name="ApiFaultType">
		<xsd:sequence>
			<xsd:element name="errorCode" type="xsd:string"/>
			<xsd:element name="errorMessage" type="xsd:string"/>
			<xsd:element name="stackTrace" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>