org.unidata.mdm.soap.meta/src/main/resources/wsdl/unidata-meta.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:tns="http://api.meta.mdm.unidata.org/v1/"
		xmlns:m="http://meta.mdm.unidata.org/v1/"
		xmlns:sec="http://security.mdm.unidata.org/v1/"
		xmlns:eh="http://error-handling.mdm.unidata.org/v1/"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://api.meta.mdm.unidata.org/v1/">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://meta.mdm.unidata.org/v1/"
				schemaLocation="schemas/meta/unidata-meta-5.0.xsd" />
			<xsd:import namespace="http://security.mdm.unidata.org/v1/"
				schemaLocation="schemas/security/security.xsd" />
			<xsd:import namespace="http://error-handling.mdm.unidata.org/v1/"
				schemaLocation="schemas/eh/error-handling.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="fault">
		<wsdl:part name="parameters" element="eh:ApiFault"/>
	</wsdl:message>
	<wsdl:message name="security">
		<wsdl:part name="security" element="sec:securityHeader" />
	</wsdl:message>
	<wsdl:message name="info">
		<wsdl:part name="info" element="m:metaHeader" />
	</wsdl:message>
	<wsdl:message name="getModelRequestMessage">
		<wsdl:part name="getModelRequest" element="m:getModelRequest" />
	</wsdl:message>
	<wsdl:message name="getModelResponseMessage">
		<wsdl:part name="getModelResponse" element="m:getModelResponse" />
	</wsdl:message>
	<wsdl:message name="applyDraftRequestMessage">
		<wsdl:part name="applyDraftRequest" element="m:applyDraftRequest" />
	</wsdl:message>
	<wsdl:message name="applyDraftResponseMessage">
		<wsdl:part name="applyDraftResponse" element="m:applyDraftResponse" />
	</wsdl:message>
	<wsdl:message name="getElementRequestMessage">
		<wsdl:part name="getElementRequest" element="m:getElementRequest" />
	</wsdl:message>
	<wsdl:message name="getElementResponseMessage">
		<wsdl:part name="getElementResponse" element="m:getElementResponse" />
	</wsdl:message>
    <wsdl:message name="getEntityWithDepsRequestMessage">
        <wsdl:part name="getEntityWithDepsRequest" element="m:getEntityWithDepsRequest" />
    </wsdl:message>
    <wsdl:message name="getEntityWithDepsResponseMessage">
        <wsdl:part name="getEntityWithDepsResponse" element="m:getEntityWithDepsResponse" />
    </wsdl:message>
	<wsdl:message name="upsertElementRequestMessage">
		<wsdl:part name="upsertElementRequest" element="m:upsertElementRequest" />
	</wsdl:message>
	<wsdl:message name="upsertElementResponseMessage">
		<wsdl:part name="upsertElementResponse" element="m:upsertElementResponse" />
	</wsdl:message>
	<wsdl:message name="deleteElementRequestMessage">
		<wsdl:part name="deleteElementRequest" element="m:deleteElementRequest" />
	</wsdl:message>
	<wsdl:message name="deleteElementResponseMessage">
		<wsdl:part name="deleteElementResponse" element="m:deleteElementResponse" />
	</wsdl:message>

	<wsdl:portType name="MetaModelPortType">
		<wsdl:operation name="applyDraft">
			<wsdl:input name="applyDraftRequest" message="tns:applyDraftRequestMessage"/>
			<wsdl:output name="applyDraftResponse" message="tns:applyDraftResponseMessage"/>
			<wsdl:fault name="fault" message="tns:fault"/>
		</wsdl:operation>
		<wsdl:operation name="getModel">
			<wsdl:input name="getModelRequest" message="tns:getModelRequestMessage"/>
			<wsdl:output name="getModelResponse" message="tns:getModelResponseMessage"/>
			<wsdl:fault name="fault" message="tns:fault"/>
		</wsdl:operation>
		<wsdl:operation name="upsertElement">
			<wsdl:input name="upsertElementRequest" message="tns:upsertElementRequestMessage"/>
			<wsdl:output name="upsertElementResponse" message="tns:upsertElementResponseMessage"/>
			<wsdl:fault name="fault" message="tns:fault"/>
		</wsdl:operation>
		<wsdl:operation name="deleteElement">
			<wsdl:input name="deleteElementRequest" message="tns:deleteElementRequestMessage"/>
			<wsdl:output name="deleteElementResponse" message="tns:deleteElementResponseMessage"/>
			<wsdl:fault name="fault" message="tns:fault"/>
		</wsdl:operation>
		<wsdl:operation name="getElement">
			<wsdl:input name="getElementRequest" message="tns:getElementRequestMessage"/>
			<wsdl:output name="getElementResponse" message="tns:getElementResponseMessage"/>
			<wsdl:fault name="fault" message="tns:fault"/>
		</wsdl:operation>
        <wsdl:operation name="getEntityWithDeps">
			<wsdl:input name="getEntityWithDepsRequest" message="tns:getEntityWithDepsRequestMessage"/>
			<wsdl:output name="getEntityWithDepsResponse" message="tns:getEntityWithDepsResponseMessage"/>
			<wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MetaModelServiceBinding" type="tns:MetaModelPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="applyDraft">
			<soap:operation soapAction="applyDraft" style="document" />
			<wsdl:input name="applyDraftRequest">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" use="encoded"/>
				<soap:header message="tns:security" part="security" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="applyDraftResponse">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" use="encoded"/>
				<soap:header message="tns:security" part="security" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getModel">
			<soap:operation soapAction="getModel" style="document" />
			<wsdl:input name="getModelRequest">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" use="encoded"/>
				<soap:header message="tns:security" part="security" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getModelResponse">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" use="encoded"/>
				<soap:header message="tns:security" part="security" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getElement">
			<soap:operation soapAction="getElement" style="document" />
			<wsdl:input name="getElementRequest">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" use="encoded"/>
				<soap:header message="tns:security" part="security" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getElementResponse">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" use="encoded"/>
				<soap:header message="tns:security" part="security" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="getEntityWithDeps">
            <soap:operation soapAction="getEntityWithDeps" style="document" />
            <wsdl:input name="getEntityWithDepsRequest">
                <soap:body use="literal" />
                <soap:header message="tns:info" part="info" use="encoded"/>
                <soap:header message="tns:security" part="security" use="encoded"/>
            </wsdl:input>
            <wsdl:output name="getEntityWithDepsResponse">
                <soap:body use="literal" />
                <soap:header message="tns:info" part="info" use="encoded"/>
                <soap:header message="tns:security" part="security" use="encoded"/>
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="upsertElement">
			<soap:operation soapAction="upsertElement" style="document" />
			<wsdl:input name="upsertElementRequest">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" use="encoded"/>
				<soap:header message="tns:security" part="security" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="upsertElementResponse">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" use="encoded"/>
				<soap:header message="tns:security" part="security" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteElement">
			<soap:operation soapAction="deleteElement" style="document" />
			<wsdl:input name="deleteElementRequest">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" use="encoded"/>
				<soap:header message="tns:security" part="security" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="deleteElementResponse">
				<soap:body use="literal" />
				<soap:header message="tns:info" part="info" use="encoded"/>
				<soap:header message="tns:security" part="security" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MetaModelSOAPService">
		<wsdl:port name="meta" binding="tns:MetaModelServiceBinding">
			<soap:address location="http://localhost:8080/unidata/meta-model/v1" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>